@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #166534; /* green-800-ish */
}
body {
  color: #111827; /* gray-900 */
  background: #ffffff;
}
a { text-underline-offset: 3px; }
